.app-download-cta {
  @apply rounded-xl bg-secondary px-[2.25rem] py-[3rem];

  .content {
    @apply mt-[0.9rem] text-whitish text-body-1;
  }

  .price-container {
    @apply mt-[2.10rem] flex items-center space-x-[1.063rem] ml-[0.375rem];

    .price {
      @apply text-[4.063rem] font-bold leading-[3.25rem] tracking-[0px] text-whitish;
    }

    .period {
      @apply text-body-1 text-whitish tracking-wider;
    }
  }

  .button-container {
    @apply mt-8 ml-1.5 flex flex-col space-y-4;
  }
}

@screen tablet {
  .app-download-cta {
    @apply w-[24.938rem] px-[3rem];
  }
}

@screen desktop {
  $container-width: 27.8rem;
  $container-height: 625px;
  $content-width: 20.813rem;

  .app-download-cta {
    @apply rounded-xl bg-secondary px-[3.3rem] py-[3.7rem];
    width: $container-width;
    height: $container-height;

    .content {
      @apply mt-[1.4rem] text-whitish;
      width: $content-width;
      font-size: 20px;
      line-height: 34px;
      letter-spacing: 0;
    }

    .price-container {
      @apply mt-[2.37rem] flex items-center space-x-[1.063rem] ml-0;

      .price {
        @apply text-[4.063rem] font-bold leading-[3.25rem] tracking-[0px] text-whitish;
      }

      .period {
        @apply text-body-1 text-whitish tracking-wider;
      }
    }

    .button-container {
      @apply mt-11 flex flex-col space-y-4 ml-[-0.1rem];
      width: $content-width;
    }
  }
}







