.app-heading {
  @apply font-bold;

  &-1 {
    @extend .app-heading;
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: -0.028rem;
  }

  &-2 {
    @extend .app-heading;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 0;
  }

  @screen tablet {
    &-1 {
      @extend .app-heading;
      font-size: 4rem;
      line-height: 4rem;
      letter-spacing: -0.046rem;
    }

    &-2 {
    }
  }
  @screen desktop {
  }
}

