.app-heading {
  @apply font-bold;

  &.level-1 {
    @apply text-blackish;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.45px;
  }

  // TODO: Convert to rem
  &.level-2 {
    @apply text-whitish;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0px;
  }

  @screen tablet {
    &.level-1 {
    }

    &.level-2 {
    }
  }
}
