.heading-level-1 {
  @apply text-blackish font-bold;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.028rem;
}

// TODO: Convert to rem
.heading-level-2 {
  @apply text-whitish font-bold;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0;
}

@screen tablet {
  .heading-level-1 {
    @apply text-blackish font-bold;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -0.046rem;
  }

  .heading-level-2 {
  }
}
@screen desktop {
  .heading-level-1 {
  }

  .heading-level-2 {
  }
}

