.app-main-hero {
  @apply h-[96.063rem];

  &-heading {
    @apply mx-6 pt-16;

    &-content {
      @apply pt-5 text-blackish text-body-2;
    }
  }

  &-illustration {
    @apply grid h-[37.5rem] grid-cols-1 grid-rows-3 pt-[4rem] mt-[6.25rem];

    &-app-img {
      @apply relative top-[-6rem] col-start-1 col-end-2 row-start-1 row-end-2 h-[26.875rem] justify-self-center;
    }

    &-background-item {
      @apply col-start-1 col-end-1 row-start-1 row-end-2 h-[37.5rem] bg-blackish bg-[length:280px_420px] bg-top bg-no-repeat rounded-xl;
      background-image: url('@/assets/bg-pattern-2.svg');
    }

    &-cta {
      @apply relative top-[12.625rem] col-start-1 col-end-2 row-start-2 row-end-3 h-[34.125rem] justify-self-center;
    }
  }
}

@screen tablet {
  .app-main-hero {
    @apply h-[1456px];

    &-heading {
      @apply mx-10 pt-[5.9rem] w-[32.5rem];

      &-content {
        @apply pt-[1.78rem] w-[32rem] text-body-1;
      }
    }

    &-illustration {
      @apply mt-[11.5rem];

      &-app-img {
        @apply top-[-8.71rem] h-[34.75rem] left-[-9.5rem];
      }

      &-background-item {
        @apply h-[37.5rem] w-[43.5rem] justify-self-center bg-[54%_-17%];
      }

      &-cta {
        @apply top-[-1.875rem] left-[5.4rem];
      }
    }
  }
}
